body, fieldset{
	margin:0px;
	padding:0px;
}
#wrapper{
	height:299px;
	width:662px;
	background:#3B3B3B;
	border:1px solid #806850;
	border-radius: 8px;
	box-sizing:border-box;
}
#header{
	background: -moz-linear-gradient(top,  #3b3b3b 0%, #3a3a3a 23%, #3c3c3c 27%, #3b3b3d 42%, #383838 58%, #3a3a3a 61%, #393939 71%, #343434 85%, #353535 91%, #2c2c2c 100%);
background: -webkit-linear-gradient(top,  #3b3b3b 0%,#3a3a3a 23%,#3c3c3c 27%,#3b3b3d 42%,#383838 58%,#3a3a3a 61%,#393939 71%,#343434 85%,#353535 91%,#2c2c2c 100%);
background: linear-gradient(to bottom,  #3b3b3b 0%,#3a3a3a 23%,#3c3c3c 27%,#3b3b3d 42%,#383838 58%,#3a3a3a 61%,#393939 71%,#343434 85%,#353535 91%,#2c2c2c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#2c2c2c',GradientType=0 );
    border-radius: 10px;
    height: 70px;
}
input[type=submit] {
	padding:6px 17px; 
    background:#EB0505; 
    border:1px solid white;
	border-radius: 10px;
    cursor:pointer;
	margin-left:20px;
	margin-top:18px;
}
input[type=text],input[type=email] {
	width:149px;
	height:22px;
	border:1px solid #829EB4;
		box-sizing:border-box;
}
input[type=email] {
		margin-left:26px;

}
::-webkit-input-placeholder {
   color: black;
   padding-left:12px;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
      padding-left:12px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
      padding-left:12px;
}

:-ms-input-placeholder {  
   color: black;  
      padding-left:12px;
}
input[type=text] {
	margin-left:14px;
}
fieldset{
	height:67px;
	width:600px;
	border-style:none;
	border-radius: 8px;
margin-top:-67px;
margin-left:60px;
}
h1{
	color:#FDD416;
		margin-left:10px;
		    letter-spacing: 2px;
			font-size:23px;
}
p{
	color:#A2A2A2;
	height:148px;
	width:597px;
	margin-left:10px;
	margin-top:30px;
}
#text{
	color:white;
}
img{
	margin:9px;
	display:inline-block;
}
#login{
	color:white;
	font-size:22px;
	padding:0px;
	margin:13px 15px 15px 15px;
}